/*====================================================
  Cactus DEBUG
====================================================*/

@if $cactus-debug-enabled {

  [class*='cactus__w'] {
    background-color: $debug-w;
  }

  [class*='cactus__g'] {
    background-color: $debug-g;
  }

  [class*='cactus__u'] {
    background-color: $debug-u;
  }
}