/*====================================================
  Cactus Settings
====================================================*/


/*====================================================
  Cactus Grid Settings
====================================================*/

// Global
//====================================================

$cactus-base-font-size: 16px;

/* Customise prefix for cactus classes. For example using '@' would result in:
 *    .@__w
 *    .@__g
 *    .@__u--m-1-5
 */
$cactus-prefix: 'cactus' !default;


// Wrapper
//====================================================

// Sets the max widths of default and modifiers for the wrapper object (EM).
$cactus-wrapper-config: (
  wide: 75em,
  default: 48em,
  small: 36em
);


// Group
//====================================================

// Config for the group object including gutter setup (EM).
$cactus-gutter-config: (
  outer-enabled: true,
  large: 2em,
  default: 1em,
  small: .5em
);

// Warning Outer Gutter is always default size.


// Cactus Unit Config
//====================================================

// Map of each breakpoint, with name, width (EM) and array of unit size ratios.
$cactus-unit-ratio-default: 1 1, 1 2, 1 3, 2 3, 1 4, 3 4;
$cactus-unit-ratio-medium: 1 1, 1 2, 1 3, 2 3;

$cactus-breakpoint-config: (
  default,
  medium,
  small
);

$cactus-unit-config: (
  default: (
    name: false,
    breakpoint: false,
    units: $cactus-unit-ratio-default
  ),
  large: (
    name: m,
    breakpoint: 75em,
    units: $cactus-unit-ratio-default
  ),
  medium: (
    name: m,
    breakpoint: 56em,
    units: $cactus-unit-ratio-medium
  ),
  small: (
    name: s,
    breakpoint: 32em,
    units: $cactus-unit-ratio-medium
  )
);


/*====================================================
  Cactus Debugging Settings
====================================================*/

// Enable debug mode to highlight elements.
$cactus-debug-enabled: false !default;

// Debug Colours
//====================================================

// Selection of colors for debuging elements.
$debug-w: #363E53;
$debug-g: #308EA7;
$debug-u: #77C6C0;
