/*==========================
  Cactus Grid Settings
==========================*/

$cactus-base-font-size: 16px;

$cactus-gutter-outer: true !default;
$cactus-gutter: 32px;
$cactus-gutter-small: 16px;

// Wrapper
$cactus-wrapper-width: 75em !default;
$cactus-wrapper-wide-width: 90em !default;

// Base grid generator
$cactus-unit-ratios-base: 1 1, 1 2, 1 4, 3 4;

// Grid Unit Config
$break-l: 920px;
$cactus-unit-ratios-l: 1 1, 1 2, 1 4, 3 4;

$break-m: 767px;
$cactus-unit-ratios-m: 1 1, 1 2;

$break-s: 420px;
$cactus-unit-ratios-s: 1 1;

// Build loop for Grid Generator
$cactus-grid-generator: false false $cactus-unit-ratios-base, l $break-l $cactus-unit-ratios-l, m $break-m $cactus-unit-ratios-m, s $break-s $cactus-unit-ratios-s;
