/*==========================
  Cactus Grid Settings
==========================*/

$cacti-base-font-size: 16px;

$cacti-gutter: 32px;
$cacti-gutter-small: 16px;

// Cacti Wrapper
$cacti-wrapper-width: 75em !default;
$cacti-wrapper-wide-width: false !default;

// Cacti Units
$min-grid-gutter: 2em !default;
$min-grid-gutter-outer-enable: true !default;