//====================================================
// Cactus - Objects - Grid - Unit
//====================================================

$default-gutter-width: map-get(map-get($cactus-gutter-config, sizes), default);

// The unit acts like a column with percentage width of its parent. It should
// always be the direct decendant a `.cactus__g` element.

/* Example:
 * .cactus__u--1-3    // 1/2th width unit (50%)
 * .cactus__u--1-5    // 1/5th width unit (20%)
 */

[class *= 'o-#{$cactus-prefix}__u'] {
  display: inline-block;
  font-size: $cactus-base-font-size; // Re asign font-size
  padding-left: usable-gutter($default-gutter-width);
  padding-right: usable-gutter($default-gutter-width);
  vertical-align: top;
}

// Loop through all the breakpoints defined in `$cactus-unit-config`

// Fetch keys for easy looping
$cactus-unit-keys: map-keys($cactus-unit-config);

// Loop through keys and generate classes
@each $bp in $cactus-unit-keys {
  $bp-name: map-deep-get($cactus-unit-config, $bp, 'name');
  $bp-breakpoint: map-deep-get($cactus-unit-config, $bp, 'breakpoint');
  $bp-units: map-deep-get($cactus-unit-config, $bp, 'units');

  // If no breakpoint is defined, don't wrap in media query i.e.
  //    .o-cactus--1-2
  //    .o-cactus--3-4

  @if $bp-breakpoint == false {
    @each $unit in $bp-units {
      @include unit-class-generator(false, $unit);
    }
  }

  // If breakpoint is defined, wrap in media query i.e.
  //    .o-cactus--m-1-2
  //    .o-cactus--l-3-4

  @else {
    @media (max-width: $bp-breakpoint) {
      @each $unit in $bp-units {
        @include unit-class-generator($bp-name, $unit);
      }
    }
  }
}
