// ====================================================
// Cactus - Elements - Images
// ====================================================

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
