// ====================================================
// Cactus - Settings - Grid
// ====================================================

// Global
//====================================================

$cactus-base-font-size: 16px !default;

// Customise prefix for cactus classes. For example using '@' would result in:
//    .o-@__w
//    .o-@__g
//    .o-@__u--m-1-5

$cactus-prefix: 'cactus' !default;

// Wrapper
//====================================================

// Sets the max widths of default and modifiers for the wrapper object (em).
$cactus-wrapper-config: (
  sizes: (
    default: 48em,
    small: 40em
  )
) !default;

// Group
//====================================================

// Config for the group object including gutter setup (em).
$cactus-gutter-config: (
  outer-enabled: true,
  sizes: (
    default: 2em,
    small: 1em
  )
) !default;

// Warning Outer Gutter is always default size.

// Cactus Unit Config
//====================================================

// Map of each breakpoint, with name, width (em) and array of unit size ratios.

$cactus-unit-config: (
  default: (
    name: false,
    breakpoint: false,
    units: (1 1, 1 2, 1 3, 2 3, 1 4, 3 4)
  ),
  large: (
    name: l,
    breakpoint: 75em,
    units: (1 1, 1 2, 1 3, 2 3, 1 4, 3 4)
  ),
  medium: (
    name: m,
    breakpoint: 56em,
    units: (1 1, 1 2, 1 3, 2 3)
  ),
  small: (
    name: s,
    breakpoint: 32em,
    units: (1 1, 1 2)
  )
) !default;
