//====================================================
// Tools - Functions - Calculate Unit Width
//====================================================

// Transforms fractions in to percentages

@function calculate-unit-width($numerator, $denominator) {
  @if $numerator and $denominator {
    @return (100% / $denominator) * $numerator;
  }

  @else {
    @warn "Both $numerator and $denomenator MUST be set.";
  }
}
