//====================================================
// Cactus - Objects - Grid - Init
//====================================================

// Loop through all the breakpoints defined in `$cactus-breakpoint-config`

@each $bp in $cactus-breakpoint-config {
  $bp-name: map-deep-get($cactus-unit-config, $bp, "name");
  $bp-breakpoint: map-deep-get($cactus-unit-config, $bp, "breakpoint");
  $bp-units: map-deep-get($cactus-unit-config, $bp, "units");

  // If no breakpoint is defined, don't wrap in media query.
  @if $bp-breakpoint == false {
    @each $unit in $bp-units {
      @include unit-class-generator(false, $unit);
    }
  }

  @else {
    @media (max-width: $bp-breakpoint) {
      @each $unit in $bp-units {
        @include unit-class-generator($bp-name, $unit);
      }
    }
  }
}
