/*====================================================
  Cactus GROUP
====================================================*/

[class*="#{$cactus-prefix}__g"] {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  font-size: 0;
}

.#{$cactus-prefix}__g {

  // Loop through gutter sizes
  @each $size in map-get($cactus-gutter-config, sizes) {
    // Store name and width of each variant
    $name: nth($size, 1);
    $width: usable-gutter(nth($size, 2));

    // If gutter is default set this to the unmodified `.cactus__g`
    @if $name == 'default' {

      @if map-get($cactus-gutter-config, outer-enabled) {
        .#{$cactus-prefix}__g {
          margin-left: -$width;
          margin-right: -$width;
        }
      }

      @else {
        margin-left: -$width;
        margin-right: -$width;
      }
    }

    // Treat all other gutter widths as modifiers
    @else {
      &--#{$name} {
        margin-left: -$width;
        margin-right: -$width;
      }
    }
  }

  &--gutter-none {
    margin-left: 0;
    margin-right: 0;

    > [class *= "#{$cactus-prefix}__u"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
