/*====================================================
  Cactus GROUP
====================================================*/

[class*="#{$cactus-prefix}__g"] {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  font-size: 0;
}

.#{$cactus-prefix}__g {

  // Store the gutter sizes for easier access
  $usable-gutter--default: usable-gutter(map-get($cactus-gutter-config, default));
  $usable-gutter--large: usable-gutter(map-get($cactus-gutter-config, large));
  $usable-gutter--small: usable-gutter(map-get($cactus-gutter-config, small));

  @if map-get($cactus-gutter-config, outer-enabled) {
    .#{$cactus-prefix}__g {
      margin-left: -$usable-gutter--default;
      margin-right: -$usable-gutter--default;
    }
  }

  @else {
    margin-left: -$usable-gutter--default;
    margin-right: -$usable-gutter--default;
  }


  @if $usable-gutter--large {
    &--gutter-large {
      margin-left: -$usable-gutter--large;
      margin-right: -$usable-gutter--large;

      > [class *= "#{$cactus-prefix}__u"] {
        padding-left: $usable-gutter--large;
        padding-right: $usable-gutter--large;
      }
    }
  }


  @if $usable-gutter--small {
    &--gutter-small {
      margin-left: -$usable-gutter--small;
      margin-right: -$usable-gutter--small;

      > [class *= "#{$cactus-prefix}__u"] {
        padding-left: $usable-gutter--small;
        padding-right: $usable-gutter--small;
      }
    }
  }


  &--gutter-none {
    margin-left: 0;
    margin-right: 0;

    > [class *= "#{$cactus-prefix}__u"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
