/*====================================================
  Cactus UNIT
====================================================*/

// The unit acts like a column with percentage width of its parent. It should always be the direct decendant a .cactus__g element.

/* Example:
 * .cactus__u--1-3    // 1/2th width unit (50%)
 * .cactus__u--1-5    // 1/5th width unit (20%)
 */

[class*='#{$cactus-prefix}__u'] {
  display: inline-block;
  font-size: $cactus-base-font-size;
  padding-left: $cactus-usable-gutter * 1px;
  padding-right: $cactus-usable-gutter * 1px;
  vertical-align: top;
}
