/*====================================================
  Cactus WRAPPER
====================================================*/

// The wrapper sets the outer width, by default this is centered.

[class*='#{$cactus-prefix}__w'] {
  margin: 0 auto;
}

.#{$cactus-prefix}__w {
  max-width: map-get($cactus-wrapper-config, default);

  @if map-get($cactus-wrapper-config, wide) {
    &--wide {
      max-width: map-get($cactus-wrapper-config, wide);
    }
  }

  @if map-get($cactus-wrapper-config, small) {
    &--small {
      max-width: map-get($cactus-wrapper-config, small);
    }
  }
}