//====================================================
// Cactus - Mixins - Grid Units
//====================================================

// Loop through all the breakpoints defined in `$cactus-breakpoint-config`

@each $bp in $cactus-breakpoint-config {
  $bp-name: map-deep-get($cactus-unit-config, $bp, "name");
  $bp-breakpoint: map-deep-get($cactus-unit-config, $bp, "breakpoint");
  $bp-units: map-deep-get($cactus-unit-config, $bp, "units");

  // If no breakpoint is defined, don't wrap in media query i.e.
  //    .o-cactus--1-2
  //    .o-cactus--3-4

  @if $bp-breakpoint == false {
    @each $unit in $bp-units {
      @include unit-class-generator(false, $unit);
    }
  }

  // If breakpoint is defined, wrap in media query i.e.
  //    .o-cactus--m-1-2
  //    .o-cactus--l-3-4

  @else {
    @media (max-width: $bp-breakpoint) {
      @each $unit in $bp-units {
        @include unit-class-generator($bp-name, $unit);
      }
    }
  }
}
